{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KnowledgeSearch</title>
	
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style_index.css' %}">
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
</head>

<body>
	 
	<div class="container-fluid" id ="main-search-zone">
		<div class="row">
		  <div class="col-lg-9 col-md-5 col-sm-5 col-xs-5">
			<img src="{% static 'images\Capture.PNG' %}" class="img-responsive" width="50px" id="Logo">
			<br>
		  </div>
		  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 m-auto p-auto">
				<select class="w-100 btn btn-primary" name="language" id="lang_select">
					  <option value="lang_en">EN</option>
					  <option value="lang_fr">FR</option>
				</select>
			</div>
		</div>
		
		<div class="col-12">
		  <hr>
			<div>
				<h1 class="text-center text-primary" id="nom">KnowledgeSearch</h1>
				<div class="text-center">
					<label class="text-light font-italic font-weight-bold">Getting Quality Educative Content</label>
				</div>
				<form class="form m-0"  action="/search" method="get" id="soumet" onsubmit="return updateSearchLanguage()">
					<input type="hidden" name="source" value="home">
					<input type="hidden" name="lang" value="" id="lang_sub">
					<div class="col-lg-12 m-auto p-auto row">
						<div class = "col-lg-7 col-md-7 m-auto p-auto row">
							<div class="input-group mb-3" id="rechercher">
								<input type="text" class="col-xs-12 col-sm-12 form-control" name="word" id="search-text0" placeholder="Cherchez ici"  onkeyup="rech_associe()" autocomplete="off" required>
								<div class=" input-group-append">
									<button class="btn btn-outline-primary" type="reset">
										<i class="fa fa-backspace"></i>
									</button>
								</div>
								<div class=" input-group-append">
									<button class="btn btn-outline-primary" type="submit" id="rond">
										<i class="fa fa-search" ></i>
									</button>
								</div>
								<div class = "col-11" id="prop"></div>
							</div>
						</div>
					</div>
				</form>
				<div class = "col-lg-7 col-md-7 m-auto pr-5 pl-5 row" id="pastSearchs">
					
				</div>
			</div>
	</div>
		

	<script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script language="Javascript" src="{% static 'js/mem_cherche.js' %}"></script>

	<script type="text/javascript">
		//méthodes des 9 recherches les plus fréquentes
		$(document).ready(function(){
			frequently();
		});

		function frequently() {
			$.ajax({
				url: '/frequent',
				method: "GET",
				success: function (data) {
					console.log(data.items);
					formatResults(data);
				},
				error: function (data) {
				}
			});

			return false;
		}

		function formatResults(results) {
			let html_value = '';
			for (i=0; i<results.length; i++) {
				const result = results[i];
				const lien = "/search?source=home&lang="+result.lang+"&word="+result.word;
				html_value += '<a href="'+lien+'" class="quick-box p-3" id="pastSearch" >'+result.word+'</a>';
			}
			$('#pastSearchs').html(html_value);
        }

		//changer de fond d'écran
		function changer(){
			var tab=["2.jpg","3.jpg","4.jpg","fond.jpg","47da7f6f.jpg","513f6c6d.jpg","5399e534.jpg","download.jpg","referencement-web.jpg"];
			var num = getRandomInt(0,tab.length);
			
			var v = 'static/css/'+tab[num];
			document.getElementsByTagName("body")[0].style.backgroundImage = "url("+v+")";
		}
		

		//valider un choix proposé
		function choix(valeur){
			document.getElementById("search-text0").value = valeur;
			document.getElementById("prop").style.visibility = "hidden";
			document.getElementById("search-text0").style.borderRadius = "20px 0px 0px 20px";
		}

		function updateSearchLanguage(){
			$('#lang_sub').val($('#lang_select').val());
			return true;
		}
		
	</script>
</body>

</html>
