{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>KnowledgeSearch</title>
	
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style_index.css' %}">
	<link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
</head>

<body>
	 
	<div class="container-fluid" id ="main-search-zone">
		<div class="row">
		  <div class="col-lg-9 col-md-5 col-sm-5 col-xs-5">
			<img src="{% static 'images\Capture.PNG' %}" class="img-responsive" width="50px" id="Logo">
		  </div>
		  <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 m-auto p-auto">
				<select class="w-100 btn btn-primary" name="language" id="lang_select">
					  <option value="lang_en">EN</option>
					  <option value="lang_fr">FR</option>
				</select>
			</div>
		</div>
		
		<div class="col-12">
		  <hr>
			<div>
				<button class="btn btn-outline-primary" id="fond_ecran" onclick="changer()" >
					<span class="text-primary fa fa-edit"></span>
				</button>
				
				<h2 class="text-primary" id="nom">KnowledgeSearch</h2>
				<form class="form col-lg-12 col-md-10 row m-0" action="/search" method="get" onsubmit="return updateSearchLanguage()">
					<input type="hidden" name="source" value="home">
					<input type="hidden" name="lang" value="" id="lang_sub">
					<div class="col-12 m-auto p-auto row">
						<div class = "col-lg-7 col-md-7 m-auto p-auto row">
							<div class="input-group mb-3" id="rechercher">
								<input type="text" class="form-control" name="word" id="search-text0" placeholder="Cherchez ici"  onkeyup="rech_associe()" autocomplete="off" required>
								<div class="input-group-append">
									<button class="btn btn-outline-primary" type="reset">
										<i class="fa fa-backspace"></i>
									</button>
								</div>
								<div class="input-group-append">
									<button class="btn btn-outline-primary" type="submit" id="rond">
										<i class="fa fa-align-justify" ></i>
									</button>
								</div>
								<div class = "col-11" id="prop"></div>
							</div>
						</div>
					</div>
				</form>
				<div class = "row" id="pastSearchs">
					<div class="col-lg-8 col-md-8 m-auto">
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">Génie Informatique</h6>
					</div>
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">G&eacute;nie M&eacute;canique</h6>
					</div>
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">Génie Industriel</h6>
					</div>
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">Génie Electrique</h6>
					</div>
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">Génie Telecommunication</h6>
					</div>
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">Genie Civil</h6>
					</div>
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">Génie Informatique</h6>
					</div>
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">Arts Numeriques</h6>
					</div>
					<div class="quick-box p-5" id="pastSearch">
					<h6 class="text-secondary" id="pastSearch0">Humanites Numeriques</h6>
					</div>
				</div>
				</div>
			</div>
	</div>
		

	<script src="{% static 'js/fontawesome.min.js' %}"></script>
    <script src="{% static 'js/jquery-3.4.1.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script language="Javascript" src="{% static 'js/mem_cherche.js' %}"></script>

	<script type="text/javascript">
		//méthodes de la partie recherche

		//changer de fond d'écran
		function changer(){
			var tab=["2.jpg","3.jpg","4.jpg","fond.jpg","47da7f6f.jpg","513f6c6d.jpg","5399e534.jpg","download.jpg","referencement-web.jpg"];
			var num = getRandomInt(0,tab.length);
			
			var v = 'static/css/'+tab[num];
			document.getElementById("main-search-zone").style.backgroundImage = "url("+v+")";
		}
		function getRandomInt(min, max) {
			min = Math.ceil(min);
			max = Math.floor(max);
			return Math.floor(Math.random() * (max - min)) + min;
		}
		
		//saisie prédictive
		function controler_saisie(){
			var chaine = rech_associe();
		}

		//valider un choix proposé
		function choix(valeur){
			document.getElementById("search-text0").value = valeur;
			document.getElementById("prop").style.visibility = "hidden";
			document.getElementById("search-text0").style.borderRadius = "20px 0px 0px 20px";
		}

		function updateSearchLanguage(){
			$('#lang_sub').val($('#lang_select').val());
			return true;
		}
		
	</script>
</body>

</html>
