html,
body {
    height: 100%;
}

body {
    background-image: url("referencement-web.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
}

.suivant{
    visibility: hidden;
}

#nom{
    opacity: 1;
    color: blue; 
    font-size: 40px;
    padding: 3px;
    border: 1px solid;
    border-radius: 20px;
    box-shadow: 3px 3px teal;
    text-shadow:cyan;
    background-color:cyan;

}
.cv{
    position:absolute;
    border:5px solid rgba(255,255,255,0.1);
    box-shadow:inset 0 0 100px #4162a9;
    transform:translateZ(0);
}
.page-item{
    padding: 3px;
    border: 1px solid;
    border-radius: 10px;
}
.title{
    padding-bottom: 10px;
}
.link{
    padding-bottom: 5px;
}
.caption{
    /*color: #fff;*/
}

#articles{
    visibility: hidden;
    
    /*overflow: scroll;*/
}
.article {
    margin: 3px;
    padding: 2px;
    border: 1px solid;
    border-radius: 10px;
    box-shadow: 3px 3px teal;
    background-color:rgb(194, 194, 194);
    padding: 10px;
}

.form-control{
    border-radius: 15px;
}

.article .title {
    font-weight: bold;
    font-size: 1.1em;
}

.article .link {
    font-weight: lighter;
    color: #00F;
}

.article .caption {
    font-size: 0.9em;
}
a:hover{
  text-decoration: none;
}